.product-form {
    width: 30rem;
    max-width: 90%;
    margin: 0;
}
.form-control {
    margin: 1rem 0;
}

.form-control label,
.form-control input {
    display: block;
}

.form-control input {
    border: 1px solid black;
    font: inherit;
    border-radius: 8px;
}

button {
    font: inherit;
    border: 1px solid blue;
    background: white;
    border-radius: 8px;
    cursor: pointer;
}