extends layouts/main-layout.pug
block styles
block content
        main
            h1 My Products
            p List of all the products...
                if prods.lenght > 0
                    each product in prods
                        div
                            h3 #{product.title}
                else
                    h1 No products